// Color Palette
$color-primary-light: #97c8eb; // Light primary color
$color-accent-light: #64e9ee; // Light accent color
$color-accent: #3aafb9; // Accent color
$color-primary-dark: #093a3e; // Dark primary color
$color-text: #001011; // Text color
